.amazon-widget {
  margin: 3.5rem auto;
  max-width: 480px;
  position: relative;

  a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.amazon-widget-img {
  border: 1px solid #e1e8ed;
  text-align: center;

  img {
    border: none;
    margin: 0 auto;
    max-height: 200px;
    padding: 16px;
  }
}

.amazon-widget-info {
  border-right: 1px solid #e1e8ed;
  border-bottom: 1px solid #e1e8ed;
  border-left: 1px solid #e1e8ed;
  padding: 5px 10px 10px 10px;
}

.amazon-widget:hover .amazon-widget-info {
  background-color: #e1e8ed;
}

.amazon-widget-title {
  display: block;
  font-size: 16px;
}

.amazon-widget-via {
  color: #aaa;

  img {
    border: none;
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
    display: inline;
    vertical-align: text-bottom;
  }
}
