name: test
on:
  push:
    branches:
      - '*'
      - '!dependabot/**'
    tags-ignore:
      - '*'
  pull_request_target:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Run stylelint and site build test
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2.3.2
        with:
          path: singular

      - name: Use Node.js
        uses: actions/setup-node@v2.1.1
        with:
          node-version: 14.x

      - name: Get dependencies
        run: yarn install
        working-directory: singular

      - name: Run stylelint
        run: yarn run stylelint "assets/**/*.scss"
        working-directory: singular

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2.4.12
        with:
          hugo-version: '0.74.2'
          extended: true

      - name: Build site
        run: hugo --contentDir exampleSite --config exampleSite/config.toml
        working-directory: singular
