name: test
on:
  push:
    branches:
      - '*'
      - '!dependabot/**'
    tags-ignore:
      - '*'
  pull_request_target:

defaults:
  run:
    shell: bash
    working-directory: singular

jobs:
  test:
    runs-on: ubuntu-latest
    name: Run stylelint and site build test
    steps:
      - name: Check out code
        uses: actions/checkout@v2.3.3
        with:
          path: singular

      - name: Use Node.js
        uses: actions/setup-node@v2.1.2
        with:
          node-version: 14.x

      - name: Get dependencies
        run: yarn install

      - name: Run stylelint
        run: yarn run stylelint "assets/**/*.scss"

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2.4.12
        with:
          hugo-version: '0.74.2'
          extended: true

      - name: Build site
        run: hugo --contentDir exampleSite --config exampleSite/config.toml
