name: test
on:
  push:
    branches:
      - '*'
      - '!dependabot/**'
    tags-ignore:
      - '*'
  pull_request_target:

defaults:
  run:
    shell: bash
    working-directory: singular

jobs:
  test:
    runs-on: macos-latest
    name: Run stylelint and site build test
    steps:
      - name: Check out code
        uses: actions/checkout@v2.4.0
        with:
          path: singular

      - name: Use Node.js
        uses: actions/setup-node@v2.5.0
        with:
          node-version: 14.x

      - name: Get dependencies
        run: yarn install

      - name: Run stylelint
        run: yarn run stylelint "assets/**/*.scss"

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2.4.13
        with:
          hugo-version: '0.80.0'
          extended: true

      - name: Build site
        run: |
          hugo --verbose --contentDir='./exampleSite' --config='./exampleSite/config.toml'
